.price {
    display: block;
    margin-bottom: 2rem;
}
// .card-portfolio{
//     height: 66%;
// }
.portfolio-img{
    // height: 100%;
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
.card-body{
    padding-bottom: 0 !important;
}
.carousel-inner {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.card-mobile{
    height: 85%;
}
.title-portfolio{
    text-align: center;
    width: 100%;
}
.card {
    height: 100%;
    margin-top: 2rem;
    .card-body {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: center;
        .plan-title {
            height: 10%;
        }
        .plan-description {
            height: 10%;
            h6 {
                font-size: 0.8rem;
            }
        }
        .plan-price {
            height: 15%;
        }
        .plan-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 60%;
            font-size: 0.9rem;
        }
        .plan-button {
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: center;
            width: 60%;
            height: 10%;
        }
    }
}
